HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Certs ###
/docker/bitnami-kafka/certs/ca-cert
/docker/bitnami-kafka/certs/ca-cert.srl
/docker/bitnami-kafka/certs/ca-key
/docker/bitnami-kafka/certs/cert-file
/docker/bitnami-kafka/certs/cert-signed
*.jks
